Django==5.2.12
djangorestframework==3.17.1
django-allauth==65.15.1
Pillow==12.2.0
requests==2.33.1
paystack-python==0.1
python-decouple
dj-database-url
psycopg2
gunicorn
whitenoise==6.5.0
cloudinary==1.36.0